.fs-7 {
    font-size: 0.8rem;
}

#main {
    animation: main .6s ease-in;
}

.invalid-feedback {
    animation: feedback .3s ease-in;
}

.is-invalid {
    animation: invalid .6s ease-in;
}

.is-valid {
    animation: valid .6s ease-in;
}

.w-mini {
    width: 30px !important;
}

.list-style-none {
    list-style-type: none !important;
}

.w-10 {
    max-width: 100px !important;
}

.navbar-collapse {
    justify-content: end;
}

textarea {
    resize: none !important;
}

.characters-block {
    height: 75vh;
    overflow: auto;
}

/* .btn-cart-add {
    background: linear-gradient(90deg, rgba(255,249,74,1) 0%, rgba(238,132,36,1) 100%);
    border: none;
} */

.card {
    transition: 0.5s;
}

.card:hover {
    transform: translateY(5px);
}

.create-order-cart,
.create-order-form,
.order-details-items,
.order-details-info {
    transition: 0.5s;
}

.create-order-cart:hover,
.create-order-form:hover,
.order-details-items:hover,
.order-details-info:hover {
    box-shadow: 0 0 15px rgb(189, 188, 188);
}

@media screen and (max-width: 768px) {
    .catalog-items {
        justify-content: center;
    }
}

@keyframes main {
    from {
        transform: translateX(50px);
        opacity: 0;
    } to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes feedback {
    from {
        transform: translateY(-15px);
        opacity: 0;
    } to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes valid {
    0%, 50%, 100% {
        box-shadow: 0 0 3px rgb(9, 106, 9);
    } 25%, 75% {
        box-shadow: 0 0 10px rgb(9, 106, 9);
    }
}

@keyframes invalid {
    0%, 50%, 100% {
        transform: translateX(0);
    } 25%, 75% {
        transform: translateX(-7px);
    }
}