.fs-7 {
    font-size: 0.8rem;
}

.header-middle {
    background: #FCF1C3;
}

.btn-orange {
    color: white !important;
    background: rgb(225, 146, 0) !important;
}

.btn-orange:hover {
    background: rgb(255, 179, 36) !important;
}

.hero-small-banner img,
.single-slider img {
    transition: .5s;
}

.header-bottom.header_fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: #ffffff;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 0 0 1rem 1rem;
    animation: header .5s ease-in-out;
}

@keyframes header {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

.main-popular-img {
    max-height: 75px;
    max-width: 125px;
    object-fit: cover;
}

.hero-small-banner:hover img,
.single-slider:hover img {
    filter: brightness(75%);
}

input:checked {
    background-color: rgb(225, 146, 0) !important;
    border: none;
}

.toast-container-reviews,
.toast-container-recently {
    z-index: 100;
}

.toast.bg-success {
    background-color: green !important;
}

.toast.bg-warning {
    background-color: orange !important;
}

.toast {
    animation: toast .5s ease-in;
}

@keyframes toast {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

.product-info-brand img {
    max-width: 125px;
    max-height: 75px;
}

.accordion-button:not(.collapsed) {
    background-color: transparent !important;
}

.nav-link form {
    width: 100%;
}

#myTab .nav-item .nav-link:not(.active) {
    color: gray;
}

.file-input .fileinput-remove {
    padding: 0.5rem;
    border: none;
    background: red;
    color: white;
    border-radius: 0.5rem;
}

.compare-wrapper th.col-3,
.compare-wrapper td.col-3 {
    width: 30%;
}

.file-input .file-preview .fileinput-remove {
    display: none;
}

.card-body .card-img .card-img-product {
    max-height: 225px !important;
}

.review-avatar {
    max-width: 50px;
    height: 50px;
}

.review-top-user .rating-input[name="view-stars"] {
    display: none;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-category {
    height: 55px;
}

.category-view-slider .swiper-button-next,
.category-view-slider .swiper-button-prev {
    display: none;
}

/* main-search start */

.search-widget {
    width: 350px;
    max-height: 450px;
    overflow-y: auto;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    background: #fff;
    padding: 15px;
    z-index: 1000;
}

.search-widget .search-result {
    display: flex;
    align-items: center;
    margin: 0 !important;
    background: #fafafa;
    border-radius: 6px;
    transition: transform 0.2s, box-shadow 0.2s;
}

#search-results .container-fluid .row>div span {
    padding: 0.75rem 0;
}

.search-widget .match span {
    display: none;
}

.search-widget .search-result:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.search-widget .search-result img {
    width: 60px;
    height: 75px;
    /* object-fit: cover; */
    border-radius: 4px;
    margin-right: 10px;
}

.search-widget .search-result a {
    text-decoration: none;
    color: #222;
}

.search-widget .search-result a .title {
    font-size: 16px;
    font-weight: 500;
}

.search-widget .search-result a .text {
    font-size: 13px;
    color: #666;
}

/* main-search end */

.navbar-logo {
    width: 200px !important;
    margin-top: 1rem;
}

.navbar .navbar-title {
    display: block;
}

#admin-orders-view-pjax {
    border-radius: 5rem;
}

.site-register div.required label::after {
    content: " *";
    color: red;
}

.hero-content {
    padding: 1.3rem;
    box-shadow: 0px 7px 30px rgba(0, 0, 0, 0.075);
    border-radius: var(--bs-border-radius-xl) !important;
    border: 1px solid #dee2e6 !important;
    background-color: #fff;
}

@media screen and (max-width: 768px) {
    .hero-content {
        padding: 0.75rem;
    }
}

.file-input .file-caption .file-caption-name,
.file-input .file-caption .file-caption-icon {
    display: none;
}

.file-input .file-caption .input-group-append {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-end;
}

.file-input .file-caption .input-group {
    justify-content: flex-end;
}

.cart-item-count {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    background: rgb(146, 0, 0);
    padding: 1px 6px;
    border-radius: 50%;
    transform: translate(5px, -5px);
}

.card .card-img img {
    transition: .5s;
}

.card .btn-favourite i,
.card .btn-compare i {
    transition: .7s;
}

.select2 .selection {
    width: 100%;
}

.card .btn-favourite:hover i {
    color: red !important;
}

.card .btn-compare:hover i {
    color: orange !important;
}

.nav-hotline-ic {
    display: flex;
}

.container-admin {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
}

#main {
    animation: main .6s ease-in;
}

.invalid-feedback {
    animation: feedback .3s ease-in;
}

.is-invalid {
    animation: invalid .6s ease-in;
}

.is-valid {
    animation: valid .6s ease-in;
}

.w-mini {
    width: 20px !important;
}

.list-style-none {
    list-style-type: none !important;
}

.w-10 {
    max-width: 100px !important;
}

.navbar-collapse {
    justify-content: end;
}

textarea {
    resize: none !important;
}

.characters-block {
    height: 75vh;
    overflow: auto;
}

.w-220 {
    width: 220px;
}

.card {
    transition: 0.5s;
}

.card:hover {
    transform: translateY(5px);
}

/* BREAD CRUMBS START */
.breadcrumbs {
    position: relative;
    padding: 20px 0;
    z-index: 2;
    text-align: left;
    background-color: #fff;
    -webkit-box-shadow: 0px 7px 30px rgba(0, 0, 0, 0.075);
    box-shadow: 0px 7px 30px rgba(0, 0, 0, 0.075);
}

.breadcrumbs .breadcrumbs-content {
    position: relative;
    text-align: left;
}

.breadcrumbs .breadcrumbs-content .page-title {
    font-size: 18px;
    color: #081828;
    font-weight: 600;
    position: relative;
    line-height: 28px;
    text-transform: capitalize;
}

/* @media screen and (max-width: 768px) {
    .breadcrumbs {
        padding: 7px;
    }
} */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .breadcrumbs .breadcrumbs-content .page-title {
        font-size: 17px;
        line-height: 28px;
    }
}

@media (max-width: 767px) {
    .breadcrumbs .breadcrumbs-content .page-title {
        font-size: 16px;
        text-align: center;
        line-height: 26px;
    }
}

.breadcrumbs .breadcrumbs-content .breadcrumb-nav {
    background: transparent;
    border-radius: 0;
    margin-bottom: 0;
    padding: 0;
}

.breadcrumbs .breadcrumb-nav {
    text-align: right;
}

@media (max-width: 767px) {
    .breadcrumbs .breadcrumb-nav {
        text-align: center;
        margin-top: 10px;
    }
}

.breadcrumbs .breadcrumb-nav li {
    display: inline-block;
    position: relative;
    padding-right: 14px;
    margin-right: 14px;
    text-transform: capitalize;
    line-height: 1.5rem;
}

.breadcrumbs .breadcrumb-nav li:after {
    content: "\ea62";
    font-family: lineIcons;
    font-size: 12px;
    position: absolute;
    top: 2px;
    right: -7px;
}

.breadcrumbs .breadcrumb-nav li:last-child {
    margin: 0;
    padding: 0;
}

.breadcrumbs .breadcrumb-nav li:last-child::after {
    display: none;
}

.breadcrumbs .breadcrumb-nav li,
.breadcrumbs .breadcrumb-nav li a {
    transition: .4s;
    text-decoration: none;
    color: #888;
    font-size: 14px;
    /* font-weight: 500; */
}

.breadcrumbs .breadcrumb-nav li i,
.breadcrumbs .breadcrumb-nav li a i {
    font-size: 13px;
    display: inline-block;
    margin-right: 3px;
    position: relative;
    top: -1px;
}

.breadcrumbs .breadcrumb-nav li a {
    position: relative;
}

.breadcrumbs .breadcrumb-nav li a:hover {
    color: rgb(225, 146, 0);
}

/* BREAD CRUMBS END */

@media screen and (max-width: 768px) {
    .catalog-items {
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .container-admin {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

@keyframes main {
    from {
        transform: translateY(10px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes feedback {
    from {
        transform: translateY(-15px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes valid {

    0%,
    50%,
    100% {
        box-shadow: 0 0 3px rgb(9, 106, 9);
    }

    25%,
    75% {
        box-shadow: 0 0 10px rgb(9, 106, 9);
    }
}

@keyframes invalid {

    0%,
    50%,
    100% {
        transform: translateX(0);
    }

    25%,
    75% {
        transform: translateX(-7px);
    }
}